documents/official_search_of_whole/RequestOfficialSearchofWholeWithPriorityV2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.oscre.org/ns/eReg-Final/2011/RequestOfficialSearchOfWholeWithPriorityV2_1"
	targetNamespace="http://www.oscre.org/ns/eReg-Final/2011/RequestOfficialSearchOfWholeWithPriorityV2_1"
	elementFormDefault="qualified" attributeFormDefault="qualified">
	<!--Document-->
	<xs:element name="RequestOfficialSearchOfWholeWithPriorityV2_1"
		type="RequestOfficialSearchOfWholeWithPriorityV2_1Type" />
	<!--ABIEs-->
	<xs:complexType name="Q1AlternativePostalAddressType">
		<xs:sequence>
			<xs:element name="AddressLine" type="Q3TextType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A line of the address for the alternative despatch location.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Postcode" type="Q3TextType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A valid postcode for the alternative address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1AlternativeDespatchDetailsType">
		<xs:sequence>
			<xs:element name ="AlternativeDespatchName" type="DespatchNameTextContentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Name of firm/company results will be addressed to.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name ="AlternativeDespatchReference" type="Q4TextContentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Text reference to be displayed on results.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternativeDespatchAddress" type="Q1AlternativeDespatchAddressType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The type of address to be used on results.
					</xs:documentation>
				</xs:annotation>				
			</xs:element>
		</xs:sequence>
	</xs:complexType>
		<xs:complexType name="Q1AlternativeDespatchAddressType">
		<xs:choice>
			<xs:element name="PostalAddress" type="Q1AlternativePostalAddressType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						A specific Address that can be used for the
						delivery of physical mail.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DXDetails" type="Q1DXDetailsType"
				minOccurs="0" maxOccurs="1" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Q1DXDetailsType">
		<xs:sequence>
			<xs:element name="DXNumber" type="Q3TextType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique identifier for a delivery point for
						organisations using the Document Exchange service.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExchangeName" type="Q3TextType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1ApplicantPartyType">
		<xs:annotation>
			<xs:documentation>Either a registered title already exists in
				which case the name(s) of the registered proprietor(s) is/are
				required for the OS1 or the title is currently in the process of
				being registered for the first time by virtue of the fact that an
				application for first registration is currently pending at LR. Until
				the first registration completed there will be no register to
				search, so the applicant under the first registration must be given
				for the OS1 - this is the person who is applying for first
				registration e.g. the owner, not the conveyancer sending in the
				application.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApplicantName" type="Q3TextType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1CommunicationType">
		<xs:annotation>
			<xs:documentation>Provides details of any other form of
				communication</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Telephone" type="Q3TextType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1ContactType">
		<xs:annotation>
			<xs:documentation>The information relevant to a person or
				organization that acts as a point of contact with another person or
				organization.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Q3TextType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of this contact person or department.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communication" type="Q1CommunicationType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The information relevant to methods of
						communication for this Contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1CustomerReferenceType">
		<xs:annotation>
			<xs:documentation>Provides a unique reference to identify a
				particular request, order or instruction or object in the system of
				the organisation allocating it.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Reference" type="ReferenceTextContentType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique reference given to identify a
						particular request, order or instruction in the system of the
						organisation allocating it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllocatedBy" type="Q3TextType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organisation that has
						allocated the Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Q3TextType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field can be used to provide reference
						description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1ExpectedPriceType">
		<xs:annotation>
			<xs:documentation>Information about price
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossPriceAmount" type="AmountType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The gross price is the price including the
						VAT. If the VAT is zero then the Gross and Net Price will be the
						same</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPriceAmount" type="AmountType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Net Price is the amount before the VAT is
						added on. If the VAT is zero then the Gross and Net Price will be
						the same</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VATAmount" type="AmountType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the amount of the VAT
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1ExternalReferenceType">
		<xs:annotation>
			<xs:documentation>A unique reference given to identify a particular
				request, order or instruction in the system of the organisation
				allocating it with the ability to associate the name of the Company
				that has allocated it.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Reference" type="ReferenceTextContentType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique reference given to identify a
						particular request, order or instruction in the system of the
						organisation allocating it.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllocatedBy" type="Q3TextType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organisation that has
						allocated the Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Q3TextType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field can be used to provide reference
						description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1IdentifierType">
		<xs:sequence>
			<xs:element name="MessageID" type="Q1TextType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1OfficialSearchOfWholeWithPriorityType">
		<xs:sequence>
			<xs:element name="PriorityTypeCode" type="PriorityCodeType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A character string (letters, figures or symbols)
						that for brevity and/or language independence may be used to
						represent or replace a definitive value or text of an Attribute
						together with relevant supplementary information.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyDescription" type="PropertyDescriptionTextContentType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This will be used if the proprietor names do
						not match and the CMS System wants to continue with manual
						investigation without warning. This will also be used if Title is
						not computerised and the CMS System wants to continue with manual
						investigation without warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SearchFromDate" type="SearchFromDateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If the Is First Registration = FALSE the Search
						From Date is mandatory and is the date falling within the
						defintition of search from date in rule 131 of the Land
						Registration rules 2003.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContinueIfNameMismatchOnRegisterIndicator"
				type="IndicatorType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An indicator sent by the CMS to the BG to
						advise whether to continue with the new Title number without
						warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContinueIfActualFeeExceedsExpectedFeeIndicator"
				type="IndicatorType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used if the proprietor names do not match and
						the CMS System wants to continue with manual investigation without
						warning</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContinueIfPendingSearchesOfPartIndicator"
				type="IndicatorType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An indicator sent by the CMS to advise BG to
						continue without warning if the proprietor names do not match.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContinueIfDeveloperTitleIndicator" type="IndicatorType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A list of two mutually exclusive Boolean values
						that express the only possible states of a Property.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element
				name="RegisteredProprietorsDetailsOrApplicantsForFirstRegistration"
				type="NameTextContentType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name(s) of the registered proprietor(s) as
						on the register required for OS1 OR the person who is applying for
						first registration, e.g. the owner (NOT the conveyancer sending
						the application).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicantParty" type="NameTextContentType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The full name(s) of the registered
						proprietor(s) of the registered estate in the title, or the
						person(s) applying for first registration of the property. If
						there are more than two, enter the first two only.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1ProductType">
		<xs:annotation>
			<xs:documentation>This component contains details regarding the
				search being ordered, expedited service, price details, delivery
				method and any attachment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="Q1ExternalReferenceType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Reference associated with a case in Case
						Management
						System
    			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerReference" type="Q1CustomerReferenceType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Reference of the person for whom the remortgage
						is
						performed.
    			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubjectProperty" type="Q1SubjectPropertyType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The Property which is the subject of the
						transaction, or on which a search is being prepared
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpectedPrice" type="Q1ExpectedPriceType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Information about price
    			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="Q1ContactType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The information relevant to a person or
						organization
						that acts as a point of contact with another person
						or
						organization.
    			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfficialSearchOfWholeWithPriority" type="Q1OfficialSearchOfWholeWithPriorityType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						A request for an official search (with priority)
						to
						be undertaken. If the chosen method of delivery is
						'electronic',
						the requested official search
						certificate is made available to the
						External System
						in a suitable electronic format (PDF), however if
						the chosen method of delivery is 'postal', the
						requested official
						search certificate is printed and
						poste.
    			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternativeDespatchDetails" type="Q1AlternativeDespatchDetailsType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1RegisteredProprietorPartyType">
		<xs:annotation>
			<xs:documentation>Either a registered title already exists in
				which case the name(s) of the registered proprietor(s) is/are
				required for the OS1 or the title is currently in the process of
				being registered for the first time by virtue of the fact that an
				application for first registration is currently pending at LR. Until
				the first registration completed there will be no register to
				search, so the applicant under the first registration must be given
				for the OS1 - this is the person who is applying for first
				registration e.g. the owner, not the conveyancer sending in the
				application.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApplicantName" type="Q3TextType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1SubjectPropertyType">
		<xs:annotation>
			<xs:documentation>The Property which is the subject of the
				transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TitleNumber" type="Q2TextType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the subject property title
						number if known</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestOfficialSearchOfWholeWithPriorityV2_1Type">
		<xs:sequence>
			<xs:element name="ID" type="Q1IdentifierType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="Product" type="Q1ProductType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This component contains details regarding the
						search being ordered, expedited service, price details, delivery
						method and any attachment</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Datatypes-->
	<xs:complexType name="AmountType">
		<xs:annotation>
			<xs:documentation>A number of monetary units specified in a currency
				where the unit of the currency is explicit or implied.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="currencyID" type="xs:normalizedString"
					use="optional">
					<xs:annotation>
						<xs:documentation>The currency of the amount</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SearchFromDateType">
		<xs:annotation>
			<xs:documentation>
				A particular point in the progression of time
				together with the
				relevant supplementary information. OSCRE dates
				follow the ISO 8601
				Standard. The international standard date
				notation is YYYY-MM-DD
				where YYYY is the year in the usual Gregorian
				calendar, MM is the
				month of the year between 01 (January) and 12
				(December), and DD is
				the day of the month between 01 and 31.

				For
				example, the fourth day of February in the year 1995 is written in
				the standard notation as 1995-02-04
      </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="SearchFromDateContentType" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DateType">
		<xs:annotation>
			<xs:documentation>
				A particular point in the progression of time
				together with the
				relevant supplementary information. OSCRE dates
				follow the ISO 8601
				Standard. The international standard date
				notation is YYYY-MM-DD
				where YYYY is the year in the usual Gregorian
				calendar, MM is the
				month of the year between 01 (January) and 12
				(December), and DD is
				the day of the month between 01 and 31.

				For
				example, the fourth day of February in the year 1995 is written in
				the standard notation as 1995-02-04
      </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:date" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IndicatorType">
		<xs:annotation>
			<xs:documentation>A list of two mutually exclusive Boolean values
				that express the only possible states of a Property.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:boolean" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PriorityCodeType">
		<xs:annotation>
			<xs:documentation>A character string (letters, figures or symbols)
				that for brevity and/or language independence may be used to
				represent or replace a definitive value or text of an Attribute
				together with relevant supplementary information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PriorityCodeContentType" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Q2TextType">
		<xs:annotation>
			<xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Q2TextContentType" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Q1TextType">
		<xs:annotation>
			<xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Q1TextContentType" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Q3TextType">
		<xs:annotation>
			<xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Q3TextContentType" />
		</xs:simpleContent>
	</xs:complexType>
	<!--Contenttypes-->
	<xs:simpleType name="PriorityCodeContentType">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Purchase</xs:documentation>
					<xs:documentation>-</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation>Lease</xs:documentation>
					<xs:documentation>-</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation>Charge</xs:documentation>
					<xs:documentation>-</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Q1TextContentType">
		<xs:restriction base="xs:string">
			<xs:minLength value="5" />
			<xs:maxLength value="50" />
			<xs:pattern value="[a-zA-Z0-9][a-zA-Z0-9\-]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Q2TextContentType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="9" />
			<xs:pattern value="[A-Z]{0,3}[0-9]{1,6}[ZT]?" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameTextContentType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="100" />
			<xs:pattern value=".*\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PropertyDescriptionTextContentType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="130" />
			<xs:pattern value=".*\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferenceTextContentType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="25" />
			<xs:pattern
				value="[A-Za-z0-9\s~!&quot;@#$%'\(\)\*\+,\-\./:;=&gt;\?\[\\\]_\{\}\^&#xa3;&amp;]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Q3TextContentType">
		<xs:restriction base="xs:string">
			<xs:pattern value=".*\S.*"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="SearchFromDateContentType">
		<xs:restriction base="xs:date">
			<xs:pattern value="(18|19|20)\d\d\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DespatchNameTextContentType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="70" />
			<xs:pattern
				value="[A-Za-z0-9\s~!&quot;@#$%'\(\)\*\+,\-\./:;=&gt;\?\[\\\]_\{\}\^&#xa3;&amp;]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Q4TextContentType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="25" />
			<xs:pattern
				value="[A-Za-z0-9\s~!&quot;@#$%'\(\)\*\+,\-\./:;=&gt;\?\[\\\]_\{\}\^&#xa3;&amp;]*" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
