schemas/ResponseDischargeActivityV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.landregistry.gov.uk/ResponseDischargeActivityV1_0"
	targetNamespace="http://www.landregistry.gov.uk/ResponseDischargeActivityV1_0"
	elementFormDefault="qualified" attributeFormDefault="qualified">
	<!--Document-->
	<xs:element name="ResponseDischargeActivityV1_0" type="ResponseDischargeActivityV1_0Type" />
	<!--ABIEs-->
  <xs:complexType name="ResponseDischargeActivityV1_0Type">
    <xs:sequence>
      <xs:element name="GatewayResponse" type="Q1GatewayResponseType"
        minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1GatewayResponseType">
    <xs:sequence>
      <xs:element name="TypeCode" type="ProductResponseCodeType"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A character string (letters, figures or symbols)
            that for brevity and/or language independence may be used to
            represent or replace a definitive value or text of an Attribute
            together with relevant supplementary information.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Acknowledgement" type="Q1AcknowledgementType"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This is the set response for a request received outside of normal working hours. 
          Will include the date-time to return to collect the processed response 
          once the service has come back into working hours</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rejection" type="Q1RejectionType"
        minOccurs="0" maxOccurs="1" />
      <xs:element name="Results" type="Q1ResultsType" minOccurs="0"
        maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>This is the set response for a request that either contains incorrect data or failed in some way whilst being processed.
          The message will detail the problem.</xs:documentation>
        </xs:annotation>
        </xs:element>
    </xs:sequence>
  </xs:complexType>
	<xs:complexType name="Q1AcknowledgementType">
		<xs:annotation>
			<xs:documentation>This is the set response for a request received outside of normal working hours. 
          Will include the date-time to return to collect the processed response 
          once the service has come back into working hours</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcknowledgementDetails"
				type="Q1AcknowledgementDetailsType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="Q1AcknowledgementDetailsType">
    <xs:sequence>
      <xs:element name="UniqueID" type="IdentifierType"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Unique identifier used by end user to get
            the status update of their request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpectedResponseDateTime" type="DateTimeType"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This element will hold expected time when
            Business Gateway will try to process the queued request. This
            element will contain date and time data as GMT format. This
            element should be marked as mandatory</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MessageDescription" type="TextType"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This will be a String type element and will
            be use to display a message to end user.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1RejectionType">
    <xs:sequence>
      <xs:element name="ExternalReference" type="Q1ExternalReferenceType"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A unique reference given to identify a
            particular request, order or instruction in the system of the
            organisation allocating it with the ability to associate the name
            of the Company that has allocated it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RejectionResponse" type="Q1RejectionResponseType"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Provides details of the reasons for the
            rejection of the Search Order Send message.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1RejectionResponseType">
    <xs:annotation>
      <xs:documentation>Provides details of the reasons for the rejection.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="TextType" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A description of the reason for rejection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Code" type="TextType" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A code signifying the reason for rejection
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherDescription" type="TextType"
        minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Freeform text field to convey any further
            information about the rejection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValidationErrors" type="Q1ValidationErrorsType"
        minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ValidationErrorsType">
    <xs:sequence>
      <xs:element name="Code" type="TextType" minOccurs="1"
        maxOccurs="1">
      </xs:element>
      <xs:element name="Description" type="TextType" minOccurs="1"
        maxOccurs="1">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ResultsType">
    <xs:sequence>
      <xs:element name="ResultDateTime" type="DateTimeType"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the date and time on which the result was produced
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExternalReference" type="Q1ExternalReferenceType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference associated with a case in Case Management System
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Title" type="Q1TitleType" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The HM Land Registry title number allocated to a registered interest or 
            tenure interest in land in England or Wales.
            If your search was made using a title number has been closed and registration continued, 
            this will be the continuation title number (if the request chose the continue option for 
            a closed and continued title). Otherwise it will match the title number you searched on.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DischargeCount" type="Q1DischargeCountType" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation>The number of discharges found, on the title number provided,
           that have been completed within the last 30 calendar days
           </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MessageDetails" type="Q1MessageDetailsType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Discharges" type="Q1DischargesType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Holds a list of DischargeActivity items</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1TitleType">
    <xs:annotation>
      <xs:documentation>Describes a title to an interest or tenure
        interest which is registered at H.M. Land Registry in England and
        Wales.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TitleNumber" type="Q2TextType"
        minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A unique reference number given to a piece of
            registered land.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1MessageDetailsType">
    <xs:sequence>
      <xs:element name="Description" type="TextType" minOccurs="1"
        maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The message description
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
	<xs:complexType name="Q1DischargesType">
    <xs:sequence>
      <xs:element name="DischargeActivity" type="DischargeActivityType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Details of the date and the lender of a charge that has had a discharged completed on the title within the last 30 calendar days.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
	</xs:complexType>
	<xs:complexType name="DischargeActivityType">
		<xs:sequence>			<xs:element name="ChargeProprietors" type="ChargeProprietorsType" minOccurs="1" maxOccurs="1">
			  <xs:annotation>
          <xs:documentation>List of ChargeProprietorsType items.
          </xs:documentation>
        </xs:annotation>
			</xs:element>			<xs:element name="DischargeDate" type="DateType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date the charge was discharged from the title number.
					</xs:documentation>
				</xs:annotation>
			</xs:element>		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChargeProprietorsType">
    <xs:sequence>
      <xs:element name="ChargeProprietor" type="LenderNameType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The names of the private individuals or companies
             who were the lenders of the charge that has been discharged.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
	</xs:complexType>
	<xs:complexType name="Q1ExternalReferenceType">
		<xs:annotation>
			<xs:documentation>A unique reference given to identify a particular
				request, order or instruction in the system of the organisation
				allocating it with the ability to associate the name of the Company
				that has allocated it.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Reference" type="TextType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique reference given to identify a
						particular request, order or instruction in the system of the
						organisation allocating it.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllocatedBy" type="TextType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organisation that has
						allocated the Reference.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="TextType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field can be used to provide reference
						description.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Datatypes-->
  <xs:complexType name="Q2TextType">
    <xs:simpleContent>
      <xs:extension base="Q2TextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="Q2TextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
      <xs:pattern value="[A-Z]{0,3}[0-9]{1,6}[ZT]?" />
    </xs:restriction>
  </xs:simpleType>
	<xs:complexType name="DateType">
		<xs:annotation>
			<xs:documentation>The international standard date
				notation is YYYY-MM-DD.
      		</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:date" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DateTimeType">
		<xs:simpleContent>
			<xs:extension base="xs:dateTime" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IdentifierType">
		<xs:annotation>
			<xs:documentation>A character string to identify and distinguish
				uniquely, one instance of an object in an identification scheme from
				all other objects in the same scheme together with relevant
				supplementary information.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:normalizedString">
				<xs:attribute name="schemeAgencyName" type="xs:string"
					use="optional">
					<xs:annotation>
						<xs:documentation>The identification of the agency that
							maintains the identification scheme.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="schemeName" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>The name of the identification scheme.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProductResponseCodeType">
		<xs:annotation>
			<xs:documentation>A character string (letters, figures or symbols)
				that for brevity and/or language independence may be used to
				represent or replace a definitive value or text of an Attribute
				together with relevant supplementary information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ProductResponseCodeContentType" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimeType">
		<xs:simpleContent>
			<xs:extension base="xs:time" />
		</xs:simpleContent>
	</xs:complexType>
  <xs:complexType name="Q1DischargeCountType">
    <xs:simpleContent>
      <xs:extension base="xs:int"></xs:extension>
    </xs:simpleContent>
  </xs:complexType>
	<!--Contenttypes-->
	<xs:simpleType name="ProductResponseCodeContentType">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Acknowledgement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation>Rejection</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation>Result</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LenderNameType">
		<xs:simpleContent>
			<xs:extension base="TextType"></xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>